[submodule "Loginqldoanhoi"]
	path = Loginqldoanhoi
	url = https://github.com/ouityouth/Loginqldoanhoi.git
	branch = main
[submodule "Quanlyhoatdong"]
	path = Quanlyhoatdong
	url = https://github.com/ouityouth/Quanlyhoatdong.git
	branch = main
